<nav id="navBar" class="d-flex container justify-content-between my-3">
  <div>
    <% if user_signed_in? %>
      <span id="helloUser" class="btn text-secondary fw-bold">
        <%= "Hello, #{current_user.bride}, #{current_user.bridegroom}" %>
      </span>
      <%= link_to '祝福列表', comments_path, class:"btn btn-light" %>
      <%= link_to '登出', sign_out_sessions_path,method: "delete", class: "btn btn-light" %>
    <% end %>
  </div>
</nav>
